.react-slideshow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.react-slideshow-container .nav {
  z-index: 10;
}
.react-slideshow-container .default-nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  border: 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.react-slideshow-container .default-nav:hover,
.react-slideshow-container .default-nav:focus {
  background: #fff;
  color: #666;
  outline: 0;
}
.react-slideshow-container .default-nav.disabled:hover {
  cursor: not-allowed;
}
.react-slideshow-container .default-nav:first-of-type {
  margin-right: -30px;
  border-right: 0;
  border-top: 0;
}
.react-slideshow-container .default-nav:last-of-type {
  margin-left: -30px;
}
.react-slideshow-container + ul.indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}
.react-slideshow-container + ul.indicators li {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  padding: 5px;
  margin: 0;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator {
  border: 0;
  opacity: 0.25;
  cursor: pointer;
  background: transparent;
  color: transparent;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  content: "";
  background: #000;
  text-align: center;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator:hover,
.react-slideshow-container + ul.indicators .each-slideshow-indicator.active,
.react-slideshow-container + ul.indicators .each-slideshow-indicator:focus {
  opacity: 0.75;
  outline: 0;
}
.react-slideshow-fade-wrapper {
  width: 100%;
  overflow: hidden;
}
.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap > div {
  position: relative;
  opacity: 0;
}
.react-slideshow-wrapper.slide {
  width: 100%;
  overflow: hidden;
}
.react-slideshow-wrapper .images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.react-slideshow-zoom-wrapper {
  width: 100%;
  overflow: hidden;
}
.react-slideshow-zoom-wrapper .zoom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}
.react-slideshow-zoom-wrapper .zoom-wrapper > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skeleton {
  border: 1px solid gray;
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#container {
  position: sticky;
  background-color: white;
  top:0;
  z-index: 100;
  width: 100%;
  height: 210px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  box-shadow: 0 4px 2px -2px lightgray;
  margin-bottom: 10px;
}

#top-orange {
  background-color: #f96302;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#top-orange > a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

#greater-div {
  width: 80%;
  height: 170px;

  display: flex;
  flex-direction: column;
  justify-content: initial;
}

#second-div {
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid red; */
}
#second-inner {
  display: flex;
  width: 600px;
  justify-content: space-evenly;
  margin-right: 70px;
}
#second-inner > a {
  font-family: sans-serif;
  font-size: 10.5px;
  text-decoration: none;
  color: red;
}

#third-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  margin-bottom: 15px;
  /* border: 1px solid blue; */
}

#third-div :hover{
  cursor: pointer;
}

.item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover {
  cursor: pointer;
}

.icon {
  margin: 0;
  padding: 0;
}

.item > h3 {
  margin-right: 5px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

#third-logo {
  /* border: 1px solid black; */
  width: 180px;

}
#third-logo > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#third-search {
  /* border: 1px solid black; */
  height: 100px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#third-search > input {
  width: 90%;
  height: 40px;
}
#third-search > button {
  height: 40px;
  width: 40px;
  background-color: #f96302;
}

#third-account {
  /* border: 1px solid black; */
  height: 100px;
  width: 21%;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
}
#third-account > span > a {
  text-decoration: none;
  font-family: sans-serif;
  color: #4c4c4c;
  font-weight: 700;
}

.div-forth {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div-forth > a {
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
  color: black;
  transition: 2s;
}

.div-forth > a:hover {
  font-weight: 600;
  border-bottom: 1px solid red;
  transition: 2s;
}

.div-forth > a:hover > #invisible-div {
  display: block;
  transition: 2s;
}

#invisible-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  position: absolute;
  background-color: #f96302;
  height: 300px;
  display: none;
  margin-top: 30px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  padding: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
