.root{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    height: 100vh;
    overflow: auto;
    color:'white'
}


.first{
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    
}

.payment_method{
    color: white;
}

.select{
    border: 1px solid white;
    padding:8px;
    background-color: white;
    color:#F96302;
    font-weight: 600;
    margin-bottom:20px;
    transition: 0.7s;
}
.select>input{
    margin-right:10px ;
}
.select:hover{
    background-color:#F96302;
    color:white;
    transition: 0.7s;
 }
